<div class="author">
  <h1 class="author__heading">Apex-MC server</h1>
  <p class="author__body">
    Dedicated to fostering a welcoming community on the Apex-MC server, where
    creativity and collaboration thrive.
  </p>
</div>

<img
  src="/img/Server-ip.jpg"
  alt="person looking out through window"
  class="hero-image"
  width="981"
  height="528"
/>
